@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
*, :after, :before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: #ffffff;
}

.links .fa {
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.links .fa:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.NavAnimation-enter {
  opacity: 0;
  -webkit-transform: translateX(-16rem);
          transform: translateX(-16rem);
}

.NavAnimation-enter-active {
  opacity: 1;
  -webkit-transition: opacity  1ms linear;
  transition: opacity  1ms linear;
}

.NavAnimation-exit {
  -webkit-transform: translateX(-16rem);
          transform: translateX(-16rem);
}

.NavAnimation-exit-active {
  -webkit-transition: 1ms linear;
  transition: 1ms linear;
}

section {
  scroll-snap-align: center;
}

section#Home {
  position: relative;
  height: 100vh;
  background-color: #000000;
}

section#Home .Home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 6rem auto 3rem;
  padding-top: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#Home .Home-content .description {
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 4px 4px 4px #aaa;
  width: 350px;
  height: 300px;
  padding: 1em;
  background-color: #251170;
  -webkit-box-shadow: 3px 1px 8px 1px #422f22a4;
          box-shadow: 3px 1px 8px 1px #422f22a4;
  border-radius: 0.5em;
}

section#Home .Home-content .description h1 {
  font-family: Courgette , sans-serif;
  margin-bottom: 0;
  color: #000000a4;
}

section#Home .Home-content .description h1 .hello {
  color: #ffffff;
  display: block;
  font-size: 20px;
}

section#Home .Home-content .description h1 .name {
  color: #ffffff;
  display: block;
  text-shadow: 4px 4px 4px rgba(196, 125, 19, 0.699);
}

section#Home .Home-content .description .txt-type {
  font-family: monospace;
  border-right: 2px solid #ffffff;
  font-size: 25px;
  color: #ffffff;
}

section#Home .Home-content .description > p {
  font-family: Courgette , cursive;
  text-shadow: none;
  color: #ffffff;
}

section#Home .Home-content .links i {
  margin: 1em 0.9rem;
}

section#Home .Home-content .links i:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

section#Home .Home-content .links .fa-facebook-square {
  color: #3b5998;
}

section#Home .Home-content .links .fa-github {
  color: #ffffff;
}

section#Home .Home-content .links .fa-linkedin {
  color: #0e76a8;
}

section#About .about_container {
  background-color: #000;
  position: relative;
}

section#About .about_container #tsparticles {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

section#About .about_container .example {
  position: absolute;
  z-index: 2;
  top: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

section#About .about_container .about_info {
  padding: 18px;
  line-height: 1.42857143;
  font-family: Poppins;
}

section#About .about_container .about_info .intro > h3 {
  color: #ffffff;
  line-height: 30px;
  font-size: 30px;
  margin: 10px 0px 20px;
  position: relative;
}

section#About .about_container .about_info .intro > h3:after {
  content: '';
  width: 28%;
  height: 135%;
  border-bottom: solid 4px #eb83f8;
  border-top: solid 4px #eb83f8;
  position: absolute;
  left: 0;
  top: -15%;
}

section#About .about_container .about_info .intro > h3:before {
  content: 'About Me';
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 30%;
  top: -30%;
}

section#About .about_container .about_info h3 {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

section#About .about_container .about_info p {
  color: #ffffff;
  margin-top: 6vh;
}

section#About .about_container .about_info .intro {
  font: 30px 'Poppins';
}

section#About .about_container .Download_cv {
  margin: 1em 0em;
  padding: 1em 2em;
  width: 45%;
  color: #ffffff;
  font-weight: bold;
  background-color: #251170;
  border: none;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

section#About .about_container .Download_cv:before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: none;
  cursor: pointer;
}

section#About .about_container .about_skills {
  padding-top: 30px;
  background-color: #251170;
}

section#About .about_container .about_skills > span {
  position: relative;
  color: #ffffff;
  padding-left: 10em;
}

section#About .about_container .about_skills > span:before {
  content: '';
  width: 40%;
  position: absolute;
  border-bottom: solid 4px #eb83f8;
  top: 45%;
  left: 10%;
}

section#About .about_container .about_skills .skills {
  padding: 18px;
  padding-bottom: 4em;
}

section#About .about_container .about_skills .skills h3 {
  color: #ffffff;
}

section#About .about_container .about_skills .skills > div > div {
  padding-top: 1em;
  padding-bottom: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#About .about_container .about_skills .skills .webdesign {
  position: relative;
}

section#About .about_container .about_skills .skills .webdesign:after {
  content: '';
  width: 80%;
  position: absolute;
  border-bottom: solid 10px #ffffff;
  border-radius: 1em;
  bottom: 5%;
}

section#About .about_container .about_skills .skills .react {
  position: relative;
}

section#About .about_container .about_skills .skills .react:after {
  content: '';
  width: 60%;
  position: absolute;
  border-bottom: solid 10px #ffffff;
  border-radius: 1em;
  bottom: 5%;
}

section#About .about_container .about_skills .skills .mongodb {
  position: relative;
}

section#About .about_container .about_skills .skills .mongodb:after {
  content: '';
  width: 90%;
  position: absolute;
  border-bottom: solid 10px #ffffff;
  border-radius: 1em;
  bottom: 5%;
}

section#About .about_container .about_skills .skills .flutter {
  position: relative;
}

section#About .about_container .about_skills .skills .flutter:after {
  content: '';
  width: 70%;
  position: absolute;
  border-bottom: solid 10px #ffffff;
  border-radius: 1em;
  bottom: 5%;
}

section#About .about_container .about_skills .skills .firebase {
  position: relative;
}

section#About .about_container .about_skills .skills .firebase:after {
  content: '';
  width: 75%;
  position: absolute;
  border-bottom: solid 10px #ffffff;
  border-radius: 1em;
  bottom: 5%;
}

section#Services {
  font-family: 'Poppins', sans-serif;
}

section#Services .service_container {
  position: relative;
}

section#Services .service_container .service_info {
  min-height: 100vh;
  font-family: Poppins;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

section#Services .service_container .service_info .separator3 {
  position: relative;
  background: #000000;
  height: 3px;
  width: 62px;
  top: -54px;
  left: -140px;
}

section#Services .service_container .service_info .separator4 {
  position: relative;
  background: #000000;
  height: 4px;
  width: 162px;
  top: -15px;
  left: -90px;
}

section#Services .service_container .service_info img {
  position: absolute;
  z-index: 1;
  height: 100.1vh;
}

section#Services .service_container .service_info .service_text {
  position: relative;
  z-index: 2;
}

section#Services .service_container .service_info .service_text h1 {
  position: absolute;
  top: -7vh;
  font-size: xx-large;
}

section#Services .service_container .service_info .service_text h1::before {
  content: "Services";
  display: block;
  font-size: 15px;
  position: absolute;
  top: -1.6vh;
  left: 9vh;
}

section#Services .service_container .service_info .service_skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em 0.5em;
  grid-auto-rows: minmax(100px, auto);
}

section#Services .service_container .service_info .service_skills > div {
  background-color: #db956641;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 4px 12px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 4px 12px -5px rgba(0, 0, 0, 0.75);
  padding: 1em;
  background-size: contain;
  color: #000000;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

section#Services .service_container .service_info .service_skills > div .fa-css3 {
  color: #264ce4d7;
}

section#Services .service_container .service_info .service_skills > div .fa-html5 {
  color: #e64e0d;
}

section#Services .service_container .service_info .service_skills > div .fa-bootstrap {
  color: #602C50;
}

section#Services .service_container .service_info .service_skills > div .fa-python {
  color: #306998;
}

section#Services .service_container .service_info .service_skills > div .fa-react {
  color: #61DBFB;
}

section#Services .service_container .service_info .service_skills > div .fa-js {
  color: #f0db4f;
}

section#Services .service_container .service_info .service_skills > div .fa-database {
  color: #181616;
}

section#Services .service_container .service_info .service_skills > div .fa-node {
  color: #3C873A;
}

section#Services .service_container .service_info .service_skills > div:hover {
  -webkit-box-shadow: 12px 11px 20px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 12px 11px 20px -1px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

section#Portfolio {
  height: 100vh;
}

section#Portfolio .portfolio_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0.5em;
  padding: 2em;
}

section#Portfolio .portfolio_container > div {
  background: #96616159;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 6px 4px 12px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 4px 12px -5px rgba(0, 0, 0, 0.75);
}

.fa-bars {
  position: fixed;
  z-index: 3;
  top: 10px;
  left: 10px;
  color: #ffffff;
}

.fa-bars:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fa-close {
  color: #251170;
}

.fa-close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar {
  width: 16rem;
  min-height: 100vh;
  position: fixed;
  z-index: 4;
  background: #fffffff6;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  top: 0;
  left: 0;
  -webkit-box-shadow: 14px 0px 40px -2px black;
          box-shadow: 14px 0px 40px -2px black;
}

.navbar .close {
  margin-top: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 2rem;
}

.navbar > div {
  display: block;
  color: #000;
}

.navbar .logo {
  max-width: 100px;
  margin: 50px auto;
}

.navbar .navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-nav .nav-item {
  width: 90%;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0.6rem;
          margin-block-start: 0.6rem;
  -webkit-margin-after: 0.6rem;
          margin-block-end: 0.6rem;
  -webkit-margin-start: 0rem;
          margin-inline-start: 0rem;
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem;
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.3px solid #422f2298;
  border-radius: 0.7em;
  height: 2.8rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 3px 1px 8px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 1px 8px 1px rgba(0, 0, 0, 0.75);
  border: 1.1px solid #000000;
}

.navbar .navbar-nav .nav-item .nav-link .link-text {
  font-weight: bold;
}
/*# sourceMappingURL=landing.css.map */